//
// Footer
// --------------------------------------------------


// Footer Inner
// --------------------------------------------------

.footer-inner
    block-base()
    background $gray
    color #fff 
    
    .container-flex 
        align-items center
        justify-content space-between
    
    p a 
        color $brand-secondary
        

.footer-inner--main 
    font(p2)
    grid-space()
    
    +above('sm')
        lost-column 2/3 flex
     
    

.footer-inner--nav 
    reset(list) 
    grid-space()
    
    +below('xs')
        lost-column 3/3 flex
        padding-top $space-md

    +above('sm')
        lost-column 1/3 flex
        text-align right
    
    > li 
        display inline-block
        
        +below('xs')
            margin-right $space-md
        
        +above('sm')
            margin-left $space-md
    
    .btn-link
        color #fff
    

// Footer Hold
// --------------------------------------------------

.footer-hold 
    block-base()
    background $gray-white
    text-align center
    
    p 
        font(p3, light, primary, uppercase)
  