//
// Header
// --------------------------------------------------
 
.header  
    lost-center $screen-lg $space-md flex 
    align-items center
    justify-content space-between
        

    // Types
    // --------------------------------------------------
    
    .btn-link 
        hidden(xs)
     