//
// Header
// --------------------------------------------------
 
.header  
    block-base()
    lost-center $screen-lg $space-lg flex 
    align-items center
    justify-content space-between
         
     