//
// Header
// --------------------------------------------------
 
.header 
    padding-bottom $space-md
    padding-top $space-md
    
    .container-flex 
        align-items center
        justify-content space-between
        

    // Types
    // --------------------------------------------------
    
    .btn-link 
        $hidden(xs)
     