//
// Page
// --------------------------------------------------
 
.page
    lost-center $screen-lg $space-md
    

// Page Header
// -------------------------------------------------- 

.page-header
    
    .title 
        font(h2, light, secondary)
        grid-space()
        
    
    
    
 