//
// Page
//
// 1. Page Header
// 2. Viewer
//
// --------------------------------------------------
 
.page
    lost-center $screen-lg $space-md
    padding-bottom $space-xlg
    

//
// 1. Page Header
// -------------------------------------------------- 

.page-header
    display flex  
    align-items center
    justify-content space-between
    margin-bottom $space-md
    
    .title 
        font(h2, light, secondary)
        grid-space()
        
 
// 
// 2. Page Viewer
// -------------------------------------------------- 
   
.page-viewer--btn 
    reset(form)
    color $gray-light
    display inline-block 
    padding $space-xs 
    margin-left $space-xs
    
    &.active
        color $text-color 
    
    
    
 