//
// Wellness
// --------------------------------------------------
  
.wellness 
    background-color #fff
    margin-bottom $space-md
    padding-bottom $space-md
    
    //
    // Types
    // --------------------------------------------------
        
    > .title 
        font(h1, light, secondary)
        lost-center $screen-lg $space-md
        color $brand-primary
        margin-bottom $space-md
        text-align center
       