doctype html
html
    head
        title Eventos - FrontEnd BR 
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='description' content="meta desc")
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel="stylesheet", type="text/css", href="css/main.css")

        //- GA
        //- --------------------------------------------------
        if ((data) && (data.analytics) && (data.analytics.ga))
          script.
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', '', 'auto');
            ga('send', 'pageview');


    body 

        //- Header
        //- --------------------------------------------------
        header.header(role='banner') 
 
            //- Logo
            //- --------------------------------------------------
            a.logo(href='/' role='logo')
                include ../svg/logo.svg

            //- Button Link
            //- --------------------------------------------------
            a.btn-link(href='https://github.com/frontendbr/eventos' title='Anuncie seu evento') Anunciar Evento
            

        //- Main
        //- --------------------------------------------------
        main.main(role='main')
 
            //- Wellness
            //- --------------------------------------------------
            header.wellness
                h1.title Encontre eventos de Front-End em todo o Brasil
 
                //- Banner
                //- --------------------------------------------------
                section.banner
                    
                    .banner-main
                        a.banner-box(href='#' title='Conferência CSS Brasil dia 20 de Maio') Conferência CSS Brasil #[span.date 20 - Maio]

                    .banner-aside
                        a.banner-box(href='#' title='Front in Sampa dia 20 de Maio') Front in Sampa #[span.date 20 - Maio]
                        a.banner-box(href='#' title='Meetup CSS dia 20 de Maio') Meetup CSS #[span.date 20 - Maio]

                    .banner-aside
                        a.banner-box(href='#' title='BrazilJS dia 20 de Maio') BrazilJS #[span.date 20 - Maio]
                        a.banner-box(href='#' title='FrontUX dia 20 de Maio') FrontUX #[span.date 20 - Maio]


                //- Filter
                //- --------------------------------------------------
                nav.filter 
                    .form-select(data-type='month')
                        label.sr-only Escolha um mês
                        select
                            option Escolha um mês
                            option Janeiro
                            option Fevereiro
                            option Março

                    .form-select(data-type='state') 
                        label.sr-only Escolha um estado
                        select
                            option Escolha um estado
                            option São Paulo
                            option Acre
                            option Paraná

                    .search 
                        input.form-control(type='search' placeholder='Busque por palavras chaves')
                        button.search-btn(type='submit' role='button') 🔎
 
        
            //- Page 
            //- --------------------------------------------------
            section.page

                //- Page Header
                //- --------------------------------------------------
                header.page-header
                    h2.title Próximos Eventos



        //- Footer
        //- --------------------------------------------------
        footer.footer(role='contentinfo')
            .footer-inner
                .container-flex
                    .footer-inner--main 
                        p Esse projeto é uma iniciativa da comunidade Front-End Brasil.

                    ul.footer-inner--nav
                        li #[a.btn-link(href='https://github.com/frontendbr/forum' title='Acesso nosso fórum') Fórum]
                        li #[a.btn-link(href='https://github.com/frontendbr/forum' title='Publique ou encontre uma vaga') Vagas]


            .footer-hold
                .container 
                    p © 2016 #[a(href='https://github.com/frontendbr/') Front-End Brasil]

    

