<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Eventos - FrontEnd BR</title>
        <meta name="description" content="meta desc">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/img/favicon.png" rel="shortcut icon">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
        <div data-js="app"></div>

        <% if ((data) && (data.analytics) && (data.analytics.ga)) { %>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', '', 'auto');
            ga('send', 'pageview');
        </script>
        <% } %>

        <script src="/js/main.min.js"></script>
    </body>
</html>
