doctype html
html
    head
        title Title Site
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='description' content="meta desc")
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel="stylesheet", type="text/css", href="css/main.css")

    body

        //- put your content here
        h1 Eventos Frontend Brasil
        img(src="img/eventos.jpg", alt="Eventos Frontend")

        script(type="text/javascript", src="js/main.js")
