<!DOCTYPE html>
<html>
    <head>
        <title>Eventos - FrontEnd BR</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="Eventos - FrontEnd BR">
        <meta name="description" content="Portal de eventos da comunidade FrontEnd BR.">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="Eventos - FrontEnd BR">
        <meta name="twitter:description" content="Portal de eventos da comunidade FrontEnd BR.">
        <meta property="twitter:image:src" content="https://frontendbr.com.br/eventos/svg/logo.svg">
        <meta property="og:url" content="https://frontendbr.com.br/eventos/">
        <meta property="og:title" content="Eventos - FrontEnd BR">
        <meta property="og:image" content="https://frontendbr.com.br/eventos/svg/logo.svg">
        <meta property="og:description" content="Portal de eventos da comunidade FrontEnd BR.">
        <meta property="og:site_name" content="Eventos - FrontEnd BR">
        <meta itemprop="name" content="Eventos - FrontEnd BR"/>
        <meta itemprop="description" content="Portal de eventos da comunidade FrontEnd BR.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/main.css">

        <% if ((data) && (data.analytics) && (data.analytics.ga)) { %>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', '', 'auto');
            ga('send', 'pageview');
        </script>
        <% } %>
    </head>
    <body>

        <header class="header" role="banner">
            <a class="logo" href="/" role="logo">
                <% include ../svg/logo.svg %>
            </a>
            <a class="btn-link" href="https://github.com/frontendbr/eventos" title="Anuncie seu evento">
                Anunciar Evento
            </a>
        </header>

        <main class="main" role="main">
            <header class="wellness">
                <h1 class="title">Encontre eventos de Front-End em todo o Brasil</h1>

                <section class="banner">
                    <div class="banner-main">
                        <a class="banner-box" href="inner.html" title="Conferência CSS Brasil dia 20 de Maio">
                            <img class="lazyload lazyblur" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="http://www.conferenciacssbrasil.com.br/build/img/css-brasil.png" alt="Conferência CSS Brasil">
                            <h2 class="title">Conferência CSS Brasil <span class="date">20 - Maio</span></h2>
                        </a>
                    </div>

                    <div class="banner-aside">
                        <a class="banner-box" href="inner.html" title="Front in Sampa dia 20 de Maio">
                            <h2 class="title">Front in Sampa <span class="date">20 - Maio</span></h2>
                        </a>
                        <a class="banner-box" href="inner.html" title="Meetup CSS dia 20 de Maio">
                            <h2 class="title">Meetup CSS <span class="date">20 - Maio</span></h2>
                        </a>
                    </div>

                    <div class="banner-aside">
                        <a class="banner-box" href="inner.html" title="BrazilJS dia 20 de Maio">
                            <h2 class="title">BrazilJS <span class="date">20 - Maio</span></h2>
                        </a>
                        <a class="banner-box" href="inner.html" title="FrontUX dia 20 de Maio">
                            <h2 class="title">Front UX <span class="date">20 - Maio</span></h2>
                        </a>
                    </div>
                </section>

                <nav class="filter">
                    <div class="form-select">
                        <svg class="icon" aria-hidden="true" aria-label="Data"><use xlink:href="svg/icons.svg#date" /></svg>
                        <label class="sr-only">Escolha um mês</label>
                        <select>
                            <option>Escolha um mês</option>
                            <option>Janeiro</option>
                            <option>Fevereiro</option>
                            <option>Março</option>
                        </select>
                    </div>

                    <div class="form-select">
                        <svg class="icon" aria-hidden="true" aria-label="Local"><use xlink:href="svg/icons.svg#location" /></svg>
                        <label class="sr-only">Escolha um estado</label>
                        <select>
                            <option>Escolha um estado</option>
                            <option>São Paulo</option>
                            <option>Acre</option>
                            <option>Paraná</option>
                        </select>
                    </div>

                    <div class="search">
                        <input class="form-control" type="search" placeholder="Busque por palavras chaves">
                        <button class="search-btn" type="submit" role="button"><svg class="icon" aria-hidden="true" aria-label="Search"><use xlink:href="svg/icons.svg#search" /></svg></button>
                    </div>
                </nav>
            </header>

            <section class="page">
                <header class="page-header">
                    <h3 class="title">Próximos Eventos</h3>
                </header>

                <div class="page-wrap">

                    <article class="event">
                        <a class="event-media" href="inner.html" title="Ver evento">
                            <img class="lazyload lazyblur" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="http://www.conferenciacssbrasil.com.br/build/img/css-brasil.png" alt="Conferência CSS Brasil">
                        </a>
                        <div class="event-main">
                            <a class="content" href="inner.html" title="Ver evento">
                                <h2>Conferência CSS Brasil</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti vero assumenda aliquid voluptatibus quos vitae ratione aut maiores quo odio.</p>
                            </a>
                            <a class="btn-link" href="http://www.conferenciacssbrasil.com.br/" target="_blank" title="Visitar site oficial">
                                <svg class="icon" aria-hidden="true" aria-label="Link"><use xlink:href="svg/icons.svg#link" /></svg>
                                conferenciacssbrasil.com.br
                            </a>
                            <ul class="event-list">
                                <li class="event-list--item">
                                    <svg class="icon" aria-hidden="true" aria-label="Data"><use xlink:href="svg/icons.svg#date"/></svg>
                                     19/03/2016</li>
                                <li class="event-list--item">
                                    <svg class="icon" aria-hidden="true" aria-label="Preço"><use xlink:href="svg/icons.svg#price"/></svg>
                                    R$ 120,00
                                </li>
                                <li class="event-list--item">
                                    <svg class="icon" aria-hidden="true" aria-label="Local"><use xlink:href="svg/icons.svg#location"/></svg>
                                    <a href="https://www.google.com.br/maps?q=maksoud+plaza&um=1&ie=UTF-8&sa=X&ved=0ahUKEwinuq_pm4rMAhXKkZAKHfMfBgoQ_AUICCgC" target="_blank">Maksound Plaza, São Paulo - SP</a>
                                </li>
                            </ul>
                        </div>
                    </article>

                    <article class="event">
                        <a class="event-media" href="inner.html" title="Ver evento">
                            <img class="lazyload lazyblur" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="http://www.conferenciacssbrasil.com.br/build/img/css-brasil.png" alt="Conferência CSS Brasil">
                        </a>
                        <div class="event-main">
                            <a class="content" href="inner.html" title="Ver evento">
                                <h2>Conferência CSS Brasil</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti vero assumenda aliquid voluptatibus quos vitae ratione aut maiores quo odio.</p>
                            </a>
                            <a class="btn-link" href="http://www.conferenciacssbrasil.com.br/" target="_blank" title="Visitar site oficial">
                                <svg class="icon" aria-hidden="true" aria-label="Link"><use xlink:href="svg/icons.svg#link" /></svg>
                                conferenciacssbrasil.com.br
                            </a>
                            <ul class="event-list">
                                <li class="event-list--item">
                                    <svg class="icon" aria-hidden="true" aria-label="Data"><use xlink:href="svg/icons.svg#date"/></svg>
                                     19/03/2016</li>
                                <li class="event-list--item">
                                    <svg class="icon" aria-hidden="true" aria-label="Preço"><use xlink:href="svg/icons.svg#price"/></svg>
                                    R$ 120,00
                                </li>
                                <li class="event-list--item">
                                    <svg class="icon" aria-hidden="true" aria-label="Local"><use xlink:href="svg/icons.svg#location"/></svg>
                                    <a href="https://www.google.com.br/maps?q=maksoud+plaza&um=1&ie=UTF-8&sa=X&ved=0ahUKEwinuq_pm4rMAhXKkZAKHfMfBgoQ_AUICCgC" target="_blank">Maksound Plaza, São Paulo - SP</a>
                                </li>
                            </ul>
                        </div>
                    </article>

                    <nav class="pagination">
                        <button class="pagination-item"><svg class="icon" aria-hidden="true" aria-label="Anterior"><use xlink:href="svg/icons.svg#arrow-left"/></svg></button>
                        <button class="pagination-item active">1</button>
                        <button class="pagination-item">2</button>
                        <button class="pagination-item">3</button>
                        <button class="pagination-item">4</button>
                        <button class="pagination-item">5</button>
                        <button class="pagination-item"><svg class="icon" aria-hidden="true" aria-label="Próximo"><use xlink:href="svg/icons.svg#arrow-right"/></svg></button>
                    </nav>

                </div>

            </section>

            <aside class="disclaimer">
                <div class="disclaimer-inner">
                    <h2 class="title">Conhece algum evento de Front-End que não está listado?</h2>
                    <a href="https://github.com/frontendbr/eventos/issues" class="btn" aria-label="Anunciar Evento" title="Anuncie seu evento">Anunciar Evento</a>
                </div>
            </aside>
        </main>

        <footer class="footer" role="contentinfo">
            <div class="footer-inner">
                <div class="container-flex">
                    <div class="footer-inner--main">
                        <p>Esse projeto é uma iniciativa da organização <a href="https://github.com/frontendbr">Front-End Brasil do Github</a>.</p>
                    </div>
                    <ul class="footer-inner--nav">
                        <li>
                            <a class="btn-link" href="https://github.com/frontendbr/forum" title="Acesso nosso fórum">Fórum</a>
                        </li>
                        <li>
                            <a class="btn-link" href="https://github.com/frontendbr/forum" title="Publique ou encontre uma vaga">Vagas</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="footer-hold">
                <div class="container">
                    <p>
                        &copy; 2016
                        <a href="https://github.com/frontendbr/">
                            Front-End Brasil
                        </a>
                    </p>
                </div>
            </div>
        </footer>

         <script src="js/main.js"></script>

    </body>

</html>
