// 
// Animations
//
// 1. To Top
// 2. To Right
// 3. To Bottom
// 4. To Left
// 5. Fade 
// 6. Blur
// 7. Scale
//
// -------------------------------------------------- 


// 1. To Top
// --------------------------------------------------
  
@keyframes fromTop
  from  
    transform translateY(-100%)    
  to    
    transform translateY(0)       
 

// 2. To Right
// -------------------------------------------------- 

@keyframes fromRight 
  from  
    transform translateX(100%) 
    opacity 0  
  to    
    transform translateX(0)  
    opacity 100      
 
@keyframes fromRightOut
  from  
    transform translateX(0) 
    opacity 100     
  to    
    transform translateX(100%) 
    opacity 0    
 

// 3. To Bottom
// --------------------------------------------------
  
@keyframes fromBottom 
  from  
    transform translateY(100%)    
  to    
    transform translateY(0)   
          

// 4. To Left
// --------------------------------------------------
   
@keyframes fromLeft 
  from  
    transform translateX(-100%)    
    opacity 0  
  to    
    transform translateX(0)   
    opacity 100  
    
@keyframes fromLeftOut
  from  
    transform translateX(0)    
    opacity 100
  to    
    transform translateX(-100%)  
    opacity 0     
 

// 5. Fade 
// --------------------------------------------------
  
@keyframes fadeIn 
  from  
    opacity 0   
  to    
    opacity 100     
  
 
@keyframes fadeOut 
  from  
     opacity 100  
  to    
     opacity 0    
 

// 6. Blur
// -------------------------------------------------- 
  
@keyframes blurOut
  from    
    filter: blur(50px)   
  to   
    filter: blur(0)   
  

// 7. Scale
// -------------------------------------------------- 
 
@keyframes scaleIn
  from    
    transform scale(0)  
  to   
    transform scale(1)

@keyframes scaleOut
  from    
    transform scale(1)  
  to   
    transform scale(0)