//
// Buttons  
//
// 1. Link
//
// --------------------------------------------------
 

//
// 1. Link
// --------------------------------------------------

.btn-link 
    font(p3, bold, secondary, uppercase)
    color $text-color
    display inline-block
    
    &:hover
    &:focus 
        text-decoration underline
    