//
// Container
// --------------------------------------------------

.container 
    padding-left $space-md
    padding-right $space-md
    
    +above('sm')
        lost-center $screen-lg $space-lg 
         
         
.container-flex 
    padding-left $space-md
    padding-right $space-md
    
    +above('sm')
        lost-center $screen-lg $space-lg flex
         