//
// Forms
//
// 1. Control
// 2. Select 
//
// --------------------------------------------------

// 
// 1. Select
// --------------------------------------------------

.form-control
    form-control()   
    background-color $gray-white
   

// 
// 2. Select
// --------------------------------------------------
  
.form-select 
    position relative
    
    &:before
    &:after
        center(top) 

    &:before
        color $brand-primary
        left 2.5rem
         
    &:after 
        content '↓'
        right 2.5rem
        
    &[data-type='month']
        &:before 
            content '📅'
        
    &[data-type='state']
        &:before 
            content '📅'
        
    select::-ms-expand 
        display: none 
    
    select 
        form-control()  
        background-color $gray-white
        appearance none 
        padding-right $button-height
        text-indent 1px
        text-overflow ''
        
    &[data-type]
        select 
            padding-left $button-height
    
        

        
    
    
 