//
// Media 
// --------------------------------------------------

iframe
img
  max-width 100%

 
// Lazy
// --------------------------------------------------
  
.lazyblur
    filter: blur(50px)
    transition filter .4s, -webkit-filter .4s

    &.lazyloaded 
        filter: blur(0)
    
 