//
// Scaffolding
// --------------------------------------------------

*  
  box-sizing border-box  
  
  &:before,
  &:after 
    box-sizing border-box 
  

html  
    font-size 10px
    font-size responsive 8px 10px
 

body 
    font-family(primary) 
    color $text-color  
    font-size $text-size 
    overflow-x hidden
  
  
 