//
// Search
// --------------------------------------------------
  
.search 
    position relative
    padding-right $button-height 
       

.search-btn 
    button($brand-primary, #fff, $text-size, $button-height) 
    position absolute 0 0 0 auto
    transition background-color .2s
    

    &:hover
    &:focus 
        background $brand-secondary
    
    .icon 
        fill #fff  
   