//
// Disclaimer 
// --------------------------------------------------
 
.disclaimer
    block-base($space-lg)
    border-top rgba($gray-darker, .1) solid 1px
    background-color #fff
    text-align center 
    

    // Types    
    // --------------------------------------------------
        
    .title  
        font(h2, light)  
        margin-bottom $space  
      

.disclaimer-inner 
    lost-center $screen-xs $space-md 
