//
// Filter
// --------------------------------------------------
  
.filter
    lost-center $screen-lg $space-lg flex 
    
    .form-select 
        lost-column 6/6 0 0 flex
        
        +below('sm')
            order 2
        
        +above('sm')
            lost-column 3/6 0 0 flex
        
        +above('md')
            lost-column 2/7 flex
            order 1
        
    .search
        lost-column 6/6 0 0 flex 
        
        +below('sm')
            order 1
            margin-bottom $space 
        
        +above('md')
            lost-column 3/7 flex
            order 2