//
// Page Header
// --------------------------------------------------
  
.page-header 
    lost-center $screen-lg $space-md 
    text-align center
   
   
    //
    // Types
    // --------------------------------------------------
        
    h1  
        $font(h1, light, secondary)
        color $brand-primary
       