//
// Search
// --------------------------------------------------
  
.search 
    position relative
    padding-right $button-height
    min-width 400px
       

.search-btn 
    button($brand-primary, #fff, $text-size, $button-height) 
    position absolute 0 0 0 auto
   