//
// Wellness
// --------------------------------------------------
  
.wellness
    lost-center $screen-lg $space-md
    margin-bottom $space-md
    text-align center
   
   
    //
    // Types
    // --------------------------------------------------
        
    h1  
        font(h1, light, secondary)
        color $brand-primary
       