@import '_settings'
@import '_tools'
@import '_generic'
@import '_base'
@import '_objects'
@import '_components'
@import '_trumps'

@import "kouto-swiss"
@import "jeet"
normalize()

main-color = blue

body
    color main-color
